# Виртуальное окружение
venv/
.venv/
env/

# Вся локальная папка с базой данных и скачанными репозиториями
data/

# Кэш Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы настроек IDE и системы
.idea/
.vscode/
.DS_Store
Thumbs.db

# Конфиденциальные данные
.env